.vscode/

taglib
*.dll

*.o
*.exe
program
benchmark

*.flac

article/*
!article/sbc-template.*
!article/caption2.sty
!article/sbc.bst
!article/main.tex
!article/bibliography.bib
!article/figuras

fake-music/
index/
btree.db

B_benchmark_db
BP_benchmark_db